@import url(http://fonts.googleapis.com/css?family=Comic%20Sans%20MS);
@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

body {
  background: #000000 !important;
  color: black !important;
  font-family: 'Comic Sans MS' !important;
}
.flat-form {
  background: #ffffff  !important;
  margin: 25px auto !important;
  width: 390px !important;
  height: 355px !important;
  position: relative !important;
  font-family: 'Comic Sans MS' !important;
}

.form-register {
  height: 355px !important;
}

.form-reset
{
  height: 305px !important;
}

.form-action {
  padding: 0 20px !important;
  position: relative !important;
  margin: auto !important;
}

.form-action h1 {
  font-size: 42px !important;
  padding-bottom: 10px !important;
}
.form-action p {
  font-size: 12px !important;
  padding-bottom: 10px !important;
  line-height: 25px !important;
}
form {
  padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
  font-family: 'Comic Sans MS' !important;
}

form input[type=text],
form input[type=password] {
  width: 100% !important;
  height: 40px !important;
  margin-bottom: 10px !important;
  padding-left: 15px !important;
  background: #eceff1  !important;
  border: none !important;
  color: #4db6ac   !important;
  outline: none !important;
}

.dark-box {
  background: #4db6ac !important;
  box-shadow: 1px 3px 3px #4db6ac inset !important;
  height: 40px !important;
  width: 50px !important;
}
.form-action .dark-box.bottom {
  position: absolute !important;
  right: 0 !important;
  bottom: -24px !important;
}
.tabs + .dark-box.top {
  position: absolute !important;
  right: 0 !important;
  top: 0px !important;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}

.button {
    border: none !important;
    display: block !important;
    background: #4db6ac !important;
    height: 40px !important;
    width: 80px !important;
    color: #ffffff !important;
    text-align: center !important;
    border-radius: 5px !important;
    /*box-shadow: 0px 3px 1px #2075aa !important;*/
    -webkit-transition: all 0.15s linear !important;
    -moz-transition: all 0.15s linear !important;
    transition: all 0.15s linear !important;
}

.button:hover {
  background: #4db6ac !important;
  /*box-shadow: 0 3px 1px #237bb2 !important;*/
}

.button:active {
  background: #4db6ac !important;
  /*box-shadow: 0 3px 1px #0f608c !important;*/
}

::-webkit-input-placeholder {
  color: #4db6ac !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #4db6ac !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #4db6ac !important;
}
:-ms-input-placeholder {
  color: #4db6ac !important;
}

.nav-color{
  background-color: #ffffff !important;
}

.nav-text{
  color: #000000 !important;
  line-height: 32px !important;
}

.nav-active {
  background: #b3e5fc !important;
  border-right: none !important;
  -webkit-transition: all 0.5s linear !important;
  -moz-transition: all 0.5s linear !important;
  transition: all 0.5s linear !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
  background-color: #ffffff !important;
  color: #000000 !important;
}

.nav-border{
  border-bottom: 2px solid #4db6ac !important;
}

ul.tabs {
  background: #ffffff !important;
  height: 40px !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
  width: 100% !important;
  position: relative !important;
  display: block !important;
  margin-bottom: 20px !important;
  border-bottom: 2px solid #4db6ac !important;
}
ul.tabs li {
  
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 0px 22px;
  height: 40px;
  line-height: 31px;
  font-weight: bold;
  overflow: hidden;
  background-color: #FFFFFF;
}
ul.tabs li:hover {
  background: #e3f2fd;
} 
ul.tabs li.active{
  background: #b3e5fc;
}
.tab_container {
  clear: both;
  float: left; 
  width: 100%;
  background: #FFFFFF;
}
.tab_content {
  padding: 5px;
  font-size: 1.2em;
  display: none;
  line-height: 1.5em;
}
@media screen and (max-width: 600px) {
  ul.tabs li {
    clear:both;
    width: 100%;
    padding-left:2%;
    cursor: pointer;
    font-weight: bold;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  }
}
@media screen and (max-width: 400px) {
  ul.tabs li {
    clear:both;
    text-align:center;
    width: 100%;
    padding-left:2%;
    cursor: pointer;
    font-weight: bold;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  }
}

.paragraph{
  font-size: 15px !important;
  font-family: 'Comic Sans MS' !important;
  color: #FFFFFF !important;
}

.teal-panel {
    background-color: #000000 !important;
}

.h1-text{
    font-size: 45px !important;
    font-family: 'Comic Sans MS' !important;
    line-height: 110% !important;
    margin: 2.1rem 0 1.68rem 0 !important;
    color: #99CFF7 !important;
}

.footer{
  background-color: #FFFFFF !important;
  position: fixed !important;
  height: 50px !important;
  bottom: 0px !important;
  width: 100% !important;
  vertical-align: middle !important;
}

.p-footer{
  height: 15px !important;
  margin-top: 15px !important;
  margin-bottom: auto !important;
  margin-left: 20px !important;
}

.right-footer{
  float: right !important;
  margin-right: 20px !important;
}

.left-footer{
  float: left !important;
}

.btn-start-play{
  height: 100px !important;
  background-color: #01579b !important;
  margin-top: 255px !important;
  margin-bottom: auto !important;
  margin-left: 250px !important;
}

.text-btn-play{
  font-size: 25px !important;
}

.icon-btn-play{
    font-size: 30px !important;
}

.link{
  color: #c5e1a5    !important;
}