@import url(http://fonts.googleapis.com/css?family=Comic%20Sans%20MS);
@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

body {
  background: #000000 !important;
  color: black !important;
  font-family: 'Comic Sans MS' !important;
}
.flat-form {
  background: #ffffff  !important;
  margin: 25px auto !important;
  width: 390px !important;
  height: 330px !important;
  position: relative !important;
  font-family: 'Comic Sans MS' !important;
}

.form-register {
  height: 355px !important;
}

.form-reset
{
  height: 305px !important;
}

.tabs {
  background: #ffffff !important;
  height: 40px !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
  width: 100% !important;
  position: relative !important;
  display: block !important;
  margin-bottom: 20px !important;
  border-bottom: 2px solid #4db6ac !important;
}
.tabs li {
  display: block !important;
  float: left !important;
  margin: 0 !important;
  padding: 0 !important;
}
.tabs a {
  background: #ffffff !important;
  display: block !important;
  float: left !important;
  text-decoration: none !important;
  color: black !important;
  font-size: 16px !important;
  padding: 12px 22px 12px 22px !important;
  border-bottom: 2px solid #4db6ac !important;

}
.tabs li:last-child a {
  border-right: none !important;
  width: 174px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center !important;
}
.tabs a.active {
  background: #4db6ac  !important;
  border-right: none !important;
  -webkit-transition: all 0.5s linear !important;
  -moz-transition: all 0.5s linear !important;
  transition: all 0.5s linear !important;
}
.form-action {
  padding: 0 20px !important;
  position: relative !important;
}

.form-action h1 {
  font-size: 42px !important;
  padding-bottom: 10px !important;
}
.form-action p {
  font-size: 12px !important;
  padding-bottom: 10px !important;
  line-height: 25px !important;
}
form {
  padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
  font-family: 'Comic Sans MS' !important;
}

form input[type=text],
form input[type=password] {
  width: 100% !important;
  height: 40px !important;
  margin-bottom: 10px !important;
  padding-left: 15px !important;
  background: #eceff1  !important;
  border: none !important;
  color: #4db6ac   !important;
  outline: none !important;
}

.dark-box {
  background: #4db6ac !important;
  box-shadow: 1px 3px 3px #4db6ac inset !important;
  height: 40px !important;
  width: 50px !important;
}
.form-action .dark-box.bottom {
  position: absolute !important;
  right: 0 !important;
  bottom: -24px !important;
}
.tabs + .dark-box.top {
  position: absolute !important;
  right: 0 !important;
  top: 0px !important;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}

.button {
    border: none !important;
    display: block !important;
    background: #4db6ac !important;
    height: 40px !important;
    width: 80px !important;
    color: #ffffff !important;
    text-align: center !important;
    border-radius: 5px !important;
    /*box-shadow: 0px 3px 1px #2075aa !important;*/
    -webkit-transition: all 0.15s linear !important;
    -moz-transition: all 0.15s linear !important;
    transition: all 0.15s linear !important;
}

.button:hover {
  background: #4db6ac !important;
  /*box-shadow: 0 3px 1px #237bb2 !important;*/
}

.button:active {
  background: #4db6ac !important;
  /*box-shadow: 0 3px 1px #0f608c !important;*/
}

::-webkit-input-placeholder {
  color: #4db6ac !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #4db6ac !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #4db6ac !important;
}
:-ms-input-placeholder {
  color: #4db6ac !important;
}

.nav-color{
  background-color: #ffffff !important;
}

.nav-text{
  color: #000000 !important;
}

.nav-active {
  background: #4db6ac  !important;
  border-right: none !important;
  -webkit-transition: all 0.5s linear !important;
  -moz-transition: all 0.5s linear !important;
  transition: all 0.5s linear !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
  background-color: #ffffff !important;
  color: #000000 !important;
}

.nav-border{
  border-bottom: 2px solid #4db6ac !important;
}

.img{
  
}